<!DOCTYPE html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type= "text/css" href="stylesheets/app.css">
    </head>
    <body>
        <div class="ui menu inverted">
            <div class="header item"><a href="/blogs"><i class="code icon" id="site-logo"></i>Blog</a></div>
            <a href="/blogs/new" class=" item">Create New Blog</a>
            <div class="right menu">
                <div class="ui right aligned catagory search item">
                    <div class="ui icon input">
                        <input type="search" id="seach" placeholder="Search blogs..."><i class="search link icon"></i>
                    </div>
                </div>
                
            </div>
            
        </div>
       
        <!-- Content here.... -->